<div class="container mt=4">
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-5">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
          <h1 style="color:brown">View all News</h1>
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 " *ngFor ="let i of news.articles">
          <div class="card" style="width: 18rem;">
            <img height ="250px" src="{{i.urlToImage}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">{{i.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{i.content}}</li>
              <li class="list-group-item">Author : {{i.author}}</li>
              <li class="list-group-item">Published At : {{i.publishedAt}}</li>
            </ul>
            <div class="card-body">
              <a href="{{i.url}}" class="card-link">News Link</a>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>